*,
*:before,
*:after {

  box-sizing: border-box;

}


html,
body {

  padding: 0;
  margin: 0;

  background: {
    color: $color-background;
  }

  color: #fff;

  font-family: $font;

  -webkit-font-smoothing: antialiased;

}

body {

  display: flex;

  position: relative;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

}

main {

  position: relative;

  width: 512px;
  height: 512px;

  background-color: $color-background;

  transition: {
    property: background-color;
    duration: 2s;
    timing-function: $easing;
  }

}
