
canvas {

  transition: {
    duration: 1s;
    property: opacity, visibility;
    timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  user-select: none;
  touch-action: none;

}

canvas[visuallyhidden] {

  visibility: hidden;

  opacity: 0;

}

canvas[game-layer] {

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

}

canvas[no-user-select] { user-select: none; }
