@import '../core/vars';

.wrapper-centered {

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

}


canvas {

  user-select: none;
  touch-action: none;

  transition: {
    duration: 1s;
    property: opacity, visibility;
    timing-function: $easing;
  }

}

canvas[hidden] {

  opacity: 0;
  visibility: hidden;

}